.maybs_container {
    overflow: visible;
}

.maybs_flex-container {
    display: flex;
    flex-direction: column;
}

.dx-drawer-content {
    display: flex;
}

#maybs_toolbar {
    background-color: var(--dx-component-color-bg);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    z-index: 10000;
}

.maybs_panel-list {
    padding-top: 12px;
    margin-right: 12px;
    background-color: var(--dx-color-main-bg);
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}

.options-container {
    display: flex;
    align-items: center;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
    display: inline-block;
    margin-right: 50px;
}

label {
    font-weight: bold;
}

#maybs_content {
    padding: 0 24px;
    background-color: var(--dx-component-color-bg);
}

    #maybs_content h2 {
        font-size: 26px;
    }

.footer {
    margin: 20px 0 10px;
    display: flex;
    flex-wrap: wrap;
}

    .footer > div {
        padding: 6px 44px 12px 25px;
    }

        .footer > div:first-child {
            margin-right: -25px;
        }

        .footer > div:last-child {
            min-width: 320px;
        }

        .footer > div:last-child {
            font-size: 16px;
            color: #7f8082;
            padding-top: 0px;
        }

            .footer > div:last-child > * {
                display: block;
                line-height: 24px;
            }

#maybs_home_datagrid {
    /* Mengambil sisa ruang yang tersedia di flex container (body) */
    flex-grow: 1;
    /* Pastikan tingginya minimal 0 untuk dihitung oleh flexbox */
    min-height: 0;
}